.header{
    position:sticky;
    top:0;
    z-index:10;
    height:60px;
    display:flex;
    align-items:center;
    background-color:#222;
}
.header_logo{
    width:100px;
    height:100%;
    object-fit: contain;
    margin:0 20px;
    background: #efefef;
    border-radius:10px;
}
.header_searchInput{
    width:100%;
    height:12px;
    padding:10px;
    border:none;
}
.header_search{
    display:flex;
    flex:1;
    align-items:center;
    border-radius:20px;
}
.header_searchIcon{
    height:15px;
    padding:5px;
    background-color:#cd9042;
}
.header_nav{
    display:flex;
    justify-content:space-evenly;
}
.header_option{
    display:flex;
    flex-direction:column;
    margin-left:10px;
    margin-right:10px;
    color:#fff;
}
.header_optionLineOne{
    font-size:10px;
}
.header_optionLineTwo{
    margin-top:4px;
    font-size:13px;
    font-weight:500;
}
.header_optionBasket{
    display:flex;
    align-items:center;
    color:#fff;
}
.header_optionLineBasket{
    margin:0 10px;
}